# W7-Base AnythingLLM Stack Config (Public Configuration)
# ---------------------------------
APP_PORT=8877
APP_HOSTNAME=anythingllm.w7.local

PG_USER=anythingllm
PG_DB=anythingllm
PG_PORT=5432

QDRANT_PORT=6333

GEMINI_MODEL="gemini-3.1-pro-preview"
GEMINI_EMBEDDING_MODEL="gemini-embedding-001"
# GEMINI_EMBEDDING_MODEL="gemini-embedding-2-preview" # Optional future use
